/* 
    Created on : 20/05/2014, 00:35:33
    Author     : juscelino
*/
.fundo-cabecalho{
    width: 100%;
    height: 130px;
    background: #1874CD;
    
   }
   
    .name{
    text-align: center;       
    color: #fff;
    font-size: 30px;
       
   }

/*div.logo{
    position: relative;
    left: auto;
    right: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}*/

#formLogin{
    background: #8ED88F;
    /*margin-top: 10px;*/
    margin: 30px auto;
/*    margin-left: auto;*/
    /*margin-right: auto;*/
    padding-top: 10px;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #333;
    width: 350px;
    border: 2px solid #000;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

}

#corpo #meio{
    /*background: #333;*/
    padding: 10px;
    margin: 30px 0;
    /*height: 270px;*/
    /*border: 2px solid #000;*/
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.rodape-login {
  padding: 30px;
  text-align: center;
  color: #000;
  margin-bottom: 0;
  background-color: #ccc;
  border: 1px solid #a0a0a0;
}

.btn-login{
    float: right;
    margin-bottom: -10px;
    /*margin-top: 30px;*/
}

